{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body {
    font-family: Arial, sans-serif;
    color: #111;
    line-height: 1.6;
}

.navbar {
    position: fixed;
    top: 0;
    width: 95%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    font-size: 18px;
    letter-spacing: 3px;
}

.logo span {
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
    padding: 10px 12px;
}


.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.hero-text {
    position:absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.hero-text h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 5px;
}

.hero-text span {
    background: rgba(0,0,0,0.8);
    padding: 12px 18px;
    margin-right: 10px;
    
}



.container {
    width: 95%;
    max-width: 1400px;
    margin: auto;
}

section {
    padding: 60px 0;
}

section h2 {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    font-size: 28px;
}


.project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.project-card {
    position: relative;
}

.project-card img {
    width: 100%;
    display: block;
}.project-card span {
    position:absolute;
    top: 0;
    left: 0;
    background: black;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
}

.about-text {
    margin-bottom: 40px;
}

.teams-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.team-card img {
    width: 100%;
filter: grayscale(70%);
}

.team-card h3 {
    margin-top: 15px;
}
.team-card span {
    color: rgb(184, 88, 88);
    margin: 10px 0;
}

.team-card button {
    width: 100%;
    border: none;
    padding: 12px;
    margin-top: 15px;
    /* these make our cursor how hand form  */
    cursor: pointer; 
    background: #824d4d;
    transition: 0.3s;
}

.team-card button:hover {
    background: #ddd;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form input,
.contact-form textarea {
    padding: 14px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
}
.contact-form textarea {
    min-height: 150px;
    resize: vertical;
}
.contact-form button {
    width: fit-content;
    border: none;
    padding: 14px 28px;
    background: #060505;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.container h4{
    background: #000000;
    padding: 30px;
    border-left: 5px solid #f8f6f6;
    width: 100%;
    display:flex;
    justify-content: center;
    color:#f8f6f6

}
